@import "normalize";
@import "variables";
@import "base";
@import "fonts";
@import "Pages/Calculator.module";

.pageTitleWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pageTitle {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}
