.menuWrap {
  background-color: var(--color-grey);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 24px 24px 32px;
}

.logoImage {
  width: 225px;
  height: 60px;
}

.menuLink {
  padding: 12px 24px;
  cursor: pointer;
}
